body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bg {
    flex: 1;
    background: url('Assets/agents-bg.png') no-repeat center center/cover; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    height: 100%;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
    padding: 10px 20px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 30px;
}

.navbar .logo img {
    height: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-right: 20px;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ff4654;
}

.navbar ul li a.active {
    color: #ff4654;
}

.report-button {
    background-color: #ff4654;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 4px 15px;
    margin-right: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.report-button:hover {
    background-color: #ff2a3b;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.slider-container {
    width: 100%;
    height: 100vh;
    background-image: url('Assets/agents-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider-img {
    width: 90px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-img a {
    display: block;
    width: 100%;
    height: 100%;
}

.slider-image .slider-img:first-child, .slider-image .slider-img:last-child {
    height: 460px;
}

.slider-image .slider-img:nth-child(2), .slider-image .slider-img:nth-child(6) {
    height: 480px;
}

.slider-image .slider-img:nth-child(3), .slider-image .slider-img:nth-child(4) {
    height: 480px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: rotate(270deg);
    transform-origin: left center;
    transition: 0.7s ease;
}

.details {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.details h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 70;
    text-align: left;
    line-height: 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.details p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 70;
    text-align: left;
    line-height: 10px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.details h2,
.details p {
    display: none;
    padding: 3px 9px;
    border-radius: 8px;
    background-color: antiquewhite;
    color: black;
    margin: 10px 0;
    text-align: center;
    line-height: 1.5;
    position: relative;
}

.details h2,
.details p {
    opacity: 0.7;
}

.slider-img.active .details h2,
.slider-img.active .details p {
    display: block;
}

.slider-img.active {
    width: 766px;
    height: 766px;
}

.slider-img.active h1 {
    display: none;
}

.slider-img.active .details p .slider-img.active .details h2 {
    display: block;
}

.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .logo img {
    width: 55px;
    height: auto;
    margin-bottom: 10px;
}

.footer .giotText h1 {
    position: static !important;
    transform: none !important;
    text-align: center;
    margin: 10px 0;
    font-size: 40px;
    color: #ff4654;
    font-family: 'apex', sans-serif;
    word-spacing: -0.1rem;
    letter-spacing: 0.4rem;
}

.footer-content {
    font-size: 14px;
    margin-top: 5px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-content ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-content ul li a:hover {
    color: #ff4654;
}

.menu-toggle-close {
    display: none;
}

@media (max-width: 768px) {

    .bg {
        flex: 1;
        background: url('Assets/bg.png') no-repeat center center/cover; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: white;
        text-align: center;
        position: relative;
        height: 100%;
    }
    
    .navbar {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #333;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 10px;
    }

    .navbar.active {
        display: flex;
    }

    .navbar .logo {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        color: white;
        margin-left: 0;
        padding-right: 5px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .navbar ul li {
        margin: 15px 0;
        width: 100%;
        margin-right: 50px;
        margin-left: 40px;
    }

    .navbar ul li a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 0;
        display: block;
        width: 100%;
        border-left: 3px solid transparent;
        transition: all 0.3s ease;
    }

    .navbar ul li a:hover {
        color: #ff4654;
        border-left: 3px solid #ff4654;
    }

    .menu-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: white;
        cursor: pointer;
        z-index: 1100;
    }

    .menu-toggle-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: white;
        cursor: pointer;
        z-index: 1100;
    }

    .menu-toggle-close.active {
        display: block;
    }
    
    .menu-toggle.hidden {
        display: none;
    }

    .report-button {
        margin-right: 50px;
        margin-left: 50px;
    }

    .report-button:hover {
        background-color: #ff2a3b;
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }

    .slider-container {
        width: 100%;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        width: 100%;
        overflow: hidden;
    }

    .slider-img {
        width: 60px;
        height: 200px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.5s ease;
        position: relative;
    }

    .slider-img.active {
        width: 100px;
        height: 300px;
    }

    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        color: antiquewhite;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: rotate(270deg);
        transform-origin: left center;
        transition: 0.7s ease;
    }

    .details h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;
        font-weight: 70;
        text-align: left;
        line-height: 10px;
        color: white;
        text-transform: uppercase;
        transition: 0.7s ease;
        display: none;
    }
    
    .details p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
        font-weight: 70;
        text-align: left;
        line-height: 10px;
        color: white;
        text-transform: uppercase;
        transition: 0.7s ease;
        display: none;
    }
    
    .details h2,
    .details p {
        display: none;
        padding: 3px 5px;
        border-radius: 8px;
        background-color: antiquewhite;
        color: black;
        margin: 5px 0;
        text-align: center;
        line-height: 1.5;
        position: relative;
        margin-right: 10px;
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .bg {
        background: url('Assets/agents-bg.png') no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding-top: 60px;
        box-sizing: border-box;
    }
    
    .navbar {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1px);
        padding: 10px 20px;
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .navbar .logo {
        display: flex;
        align-items: center;
        margin-left: 0;
        padding-left: 30px;
    }
    
    .navbar .logo img {
        height: 50px;
    }
    
    .navbar ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-right: 20px;
    }
    
    .navbar ul li {
        margin: 0 15px;
    }
    
    .navbar ul li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: bold;
        transition: color 0.3s;
    }
    
    .navbar ul li a:hover {
        color: #ff4654;
    }
    
    .report-button {
        background-color: #ff4654;
        color: white;
        border: none;
        border-radius: 25px;
        padding: 4px 15px;
        margin-right: 50px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
    
    .report-button:hover {
        background-color: #ff2a3b;
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }
    
    .slider-container {
        width: 100%;
        height: 70vh;
        background-image: url('Assets/agents-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .slider-image {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .slider-image img {
        width: 100%;
        height: 150%;
        object-fit: cover;
        border-radius: 6px;
    }
    
    .slider-img {
        width: 80px;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        transition: 0.7s ease;
    }
    
    .slider-image .slider-img:first-child, .slider-image .slider-img:last-child {
        height: 460px;
    }
    
    .slider-image .slider-img:nth-child(2), .slider-image .slider-img:nth-child(6) {
        height: 480px;
    }
    
    .slider-image .slider-img:nth-child(3), .slider-image .slider-img:nth-child(4) {
        height: 480px;
    }
    
    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        color: antiquewhite;
        position: absolute;
        top: 80%;
        left: 40px;
        transform: rotate(270deg);
        transform-origin: left center;
        transition: 0.7s ease;
    }
    
    .details {
        position: absolute;
        bottom: -225px;
        left: 10px;
    }
    
    .details h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        font-weight: 70;
        text-align: left;
        line-height: 10px;
        color: white;
        text-transform: uppercase;
        transition: 0.7s ease;
        display: none;
    }
    
    .details p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        font-weight: 70;
        text-align: left;
        line-height: 10px;
        color: white;
        text-transform: uppercase;
        transition: 0.7s ease;
        display: none;
    }
    
    .details h2,
    .details p {
        display: none;
        padding: 3px 9px;
        border-radius: 8px;
        background-color: antiquewhite;
        color: black;
        margin: 10px 0;
        text-align: center;
        line-height: 1.5;
        position: relative;
    }
    
    .details h2,
    .details p {
        opacity: 0.7;
    }
    
    .slider-img.active .details h2,
    .slider-img.active .details p {
        display: block;
    }
    
    .slider-img.active {
        width: 400px;
        height: 600px;
    }
    
    .slider-img.active h1{
        display: none;
    }
    
    .slider-img.active .details p .slider-img.active .details h2{
        display: block;
    }

    .footer {
        background-color: #000000;
        color: white;
        text-align: center;
        padding: 30px 20px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .footer .logo img {
        width: 60px;
        height: auto;
        margin-bottom: 15px;
    }
    
    .footer .giotText h1 {
        font-size: 36px;
        margin: 10px 0;
        color: #ff4654;
        font-family: 'apex', sans-serif;
        word-spacing: -0.1rem;
        letter-spacing: 0.3rem;
    }
    
    .footer-content {
        font-size: 15px;
        margin-top: 10px;
        max-width: 700px;
        width: 100%;
    }
    
    .footer-content p {
        margin: 8px 0;
        line-height: 1.6;
    }
    
    .footer-content ul {
        list-style: none;
        padding: 0;
        margin: 15px 0 0 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .footer-content ul li a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
        transition: color 0.3s ease;
    }
    
    .footer-content ul li a:hover {
        color: #ff4654;
    }
}